<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawpinns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<meta name="viewport" content="with=device-width, initial
scale=1.0">
	<script src="https://kit.fontawesome.com/3276309128.js" crossorigin="anonymous"></script>
	
    <title>Pawpinns</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?
family=Poppins:wght@100; 200; 300; 400; 600; 700&display=swap"
rel="stylesheet"> 
</head>
<body>
<section class ="service">
	<nav>
		<a href="index.html"><img src="{{url_for('static', filename='images/download-modified.png')}}"></a>;
		<div class="nav-links">
			<ul>					
				<li><a href="/home">HOME</a></li>
			 	<li><a href="/about">ABOUT</a></li>
				<li><a href="/services">SERVICES</a></li>
				<li><a href="/book">BOOK</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="/logout"><button type="button" class="btn btn-dark">LOG OUT</button></a></li>
			</ul> 
		</div>
	</nav>



	<section class="row">
		<h3><b>SERVICES<br>🐾</b><br><br></h3>
		<div class="services">
			<h3><br>BOARDING</h3>
			<img src="{{url_for('static', filename='images/boarding.jpg')}}">
			<p>We provide a safe and comfortable home away from home for your pet while you're away.<br> Our accommodations are spacious and climate-controlled, and our staff provides personalized care and attention to each pet.</p>
		</div>
		<div class="services">
			<h3><br>DAYCARE</h3>
			<img src="{{url_for('static', filename='images/daycare.jpg')}}">
			<p>We offer a supervised environment for pets during the day, providing socialization opportunities and plenty of playtime.</p>
		</div>
		<div class="services">
			<h3><br>GROOMING</h3>
			<img src="{{url_for('static', filename='images/grooming.jpg')}}">
			<p>Our grooming services include baths, haircuts, and nail trims, ensuring that your pet looks and feels their best.</p>
		</div>
		<div class="services">
			<h3><br>TRAINING</h3>
			<img src="{{url_for('static', filename='images/training.jpg')}}">
			<p> We offer positive reinforcement training programs to help pets develop good behavior habits.</p>
		</div>
		<div class="services">
			<h3><br>VETERINARY SUPPORT</h3>
			<img src="{{url_for('static', filename='images/vsupport.jpg')}}">
			<p> Our facility has veterinary support available 24/7 in case of any health emergencies that may arise.</p>
		</div>
		<div class="services">
			<h3><br>OPTIONAL SERVICES</h3>
			<img src="{{url_for('static', filename='images/optional.jpg')}}">
			<p> We also offer additional services such as walks, playtime, and one-on-one attention to ensure that your pet has everything they need to stay happy and healthy during their stay with us.</p>
		</div>
		
	</div>

	<section class="main_bg">
		<div class="form">
			<div class="form-text">
				<h1><span><img src="{{url_for('static', filename='images/art-1.png')}}" alt=""></span>Book Your Service With Us!!!<span><img src="art-1.png" alt=""></span></h1>
			</div>
			<div class="main-form">
				<form action="index.html" method="get">
					<div>
						<span>OWNER NAME</span>
						<input type="text" name="name" id="name" placeholder="Write your name here..." required>
					</div>
					<div>
						<span>PET NAME</span>
						<input type="email" name="name" id="name" placeholder="include , for multiple pets" required> 
					</div>
					<div>
						<!-- <---this is the select option--->
						<span>DAY SPAN</span>
						<select name="people" id="people" required>
							<option value=""><---Days---></option>
							<option value="1">1 </option>
							<option value="2">2 </option>
							<option value="3">3 </option>
							<option value="4">4 </option>
						</select>
						<!-- <---this is the select option--->
					</div>
					<div>
						<span>TIME OF VISIT</span>
						<input type="time" name="time" id="time" placeholder="Time" required>
					</div>
					<div>
						<span>DATE</span>
						<input type="date" name="date" id="date" placeholder="date" required>
					</div>
					<div>
						<span>CONTACT NO</span>
						<input type="number" name="number" id="number" placeholder="Write your number here..." required>
					</div>
					<div id="submit">
						<input type="submit" value="SUBMIT" id="submit">
					</div>
	
	
				</form>
			</div>
		</div>
	</section>
	
	
				
		<section class="footer">
			<h4>
				<div class="icons">
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-linkedin"></i>
					<p>🐾</p>
		
				</div>
			</h4>
		</section>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
</body>
</html>


