<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial
scale=1.0">
	<script src="https://kit.fontawesome.com/3276309128.js" crossorigin="anonymous"></script>
	
    <title>Pawpinns</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?
family=Poppins:wght@100; 200; 300; 400; 600; 700&display=swap"
rel="stylesheet"> 
</head>
<body>
<section class ="header">
	<nav>
		<a href="index.html"><img src="download-modified.png"></a>;
		<div class="nav-links">
			<ul>					
				<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\index.html">HOME</a></li>
			 	<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\about.html">ABOUT</a></li>
				<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\services.html">SERVICES</a></li>
				<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\book.html">BOOK</a></li>
				<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\contact.html">CONTACT</a></li>
				<li><a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\registration\index.html"><button type="button" class="btn btn-dark">LOGIN</button></a></li>
			</ul> 
		</div>
	</nav>



<section class="about">
	<h1><b>ABOUT US<br>🐾</b></h1>
	<p>Welcome to our pet boarding agency, where we provide exceptional care for your furry friends while you're away.<br>We understand that leaving your pets behind can be stressful, which is why we're committed to providing a safe, comfortable, and enjoyable environment for your pets to stay in.

		Our 𝗠𝗶𝘀𝘀𝗶𝗼𝗻 is to provide a home away from home for your pets, where they can feel loved, cared for, and pampered. Our experienced and passionate staff members are dedicated to ensuring that your pets receive the best care possible, and we go above and beyond to make sure that your pets feel happy and comfortable during their stay.
		
		es to make your pets' stay even more enjoyable, such as walks, playtime, and one-on-one attention. Our staff members are dedicated to providing a stress-free and enjoyable environment for your pets, and we make sure to provide plenty of opportunities for your pets to play and socialize with other pets.
		
		When pet owners need to travel or have to be away from their pets for an extended period of time, finding a reliable and trustworthy pet boarding service becomes a top priority. Our pet boarding service is dedicated to providing exceptional care for pets while their owners are away, and we take great pride in providing a safe and comfortable home away from home for each and every pet that stays with us.

Our facility is equipped with top-of-the-line amenities to ensure the comfort and happiness of our guests. Our accommodations are spacious and climate-controlled, providing a comfortable and secure environment for pets to relax and rest. We also have designated areas for playtime and exercise, where our trained staff provide supervised activities and engagement with other pets, making sure that your pet gets the exercise they need to stay happy and healthy.

We understand that every pet has unique needs, and we make sure to provide personalized care to ensure their stay with us is as comfortable and stress-free as possible. Our staff is trained to handle pets of all shapes and sizes, and we have strict protocols in place to ensure a clean and hygienic environment. We also have veterinary support available 24/7 in case of any health emergencies that may arise.

At our pet boarding service, we treat every pet as if they were our own, and we take pride in providing exceptional care to each and every one of our furry guests. We offer a range of optional services, such as grooming and training, to keep your pet happy and healthy while they stay with us. Our grooming services include baths, haircuts, and nail trims, and our training programs focus on positive reinforcement techniques to help pets develop good behavior habits.

We understand that leaving your pet behind can be stressful, and that's why we provide regular updates and pictures of your pet during their stay with us. Our goal is to provide peace of mind to pet owners, knowing that their furry friend is in good hands and receiving the care they deserve.

In addition to our pet boarding services, we also offer daycare services for pet owners who need a safe and supervised environment for their pets during the day. Our daycare program provides socialization opportunities and plenty of playtime, which is especially beneficial for young pets who need to burn off energy and learn good behavior habits.

At our pet boarding service, we are committed to providing exceptional care to every pet that stays with us. Our staff is passionate about animals, and we take great pride in creating a safe and comfortable home away from home for pets. If you need a reliable and trustworthy pet boarding service, look no further than us. <br><br>We look forward to welcoming your pet into our family!</p>
</section>

		<section class="row">
			<h3><b>SERVICES<br>🐾</b><br><br></h3>
			<div class="services">
				<h3><br>BOARDING</h3>
				<img src="boarding.jpg">
				<p>We provide a safe and comfortable home away from home for your pet while you're away.<br> Our accommodations are spacious and climate-controlled, and our staff provides personalized care and attention to each pet.</p>
			</div>
			<div class="services">
				<h3><br>DAYCARE</h3>
				<img src="daycare.jpg">
				<p>We offer a supervised environment for pets during the day, providing socialization opportunities and plenty of playtime.</p>
			</div>
			<div class="services">
				<h3><br>GROOMING</h3>
				<img src="grooming.jpg">
				<p>Our grooming services include baths, haircuts, and nail trims, ensuring that your pet looks and feels their best.</p>
			</div>
			<div class="services">
				<h3><br>TRAINING</h3>
				<img src="training.jpg">
				<p> We offer positive reinforcement training programs to help pets develop good behavior habits.</p>
			</div>
			<div class="services">
				<h3><br>VETERINARY SUPPORT</h3>
				<img src="vsupport.jpg">
				<p> Our facility has veterinary support available 24/7 in case of any health emergencies that may arise.</p>
			</div>
			<div class="services">
				<h3><br>OPTIONAL SERVICES</h3>
				<img src="optional.jpg">
				<p> We also offer additional services such as walks, playtime, and one-on-one attention to ensure that your pet has everything they need to stay happy and healthy during their stay with us.</p>
			</div>
			
		</div>

	
<section class="gallery">
	<h1>GALLERY</h1>
	<p>Our pet boarding gallery showcases our facility, including our spacious accommodations, play areas, and grooming stations. You'll see photos of our happy guests, both cats and dogs, enjoying their stay with us. We take pride in providing a clean, comfortable, and safe environment for all of our guests, and our gallery is a reflection of the high standards we uphold. We encourage you to take a look at our gallery to get a better idea of what we offer and to see for yourself how happy and comfortable our guests are during their stay with us.</p>
	
	<div class="row">
		<div class="galpics">
			<img src="pic1.jpg">
			<img src="pic2.jpg">
			<img src="pic3.jpg">
			<img src="pic4.jpg">
			<img src="pic5.jpg">
			<img src="pic6.jpg">
			<img src="pic7.jpg">
			<img src="pic8.jpg">
			<img src="pic9.jpg">
			<img src="pic10.jpg">
			<img src="pic11.jpg">
			<img src="pic12.jpg">
			<img src="pic13.jpg">
			<img src="pic14.jpg">
			<img src="pic15.jpg">
			<img src="pic16.jpg">
			<img src="pic17.jpg">
			
		</div>
	</div>
</section>

<section class="review">
	<h1><br>Let's hear what our customers have to say:</h1>
	<div class="row">
		<div class="rpics">
			<img src="bg1-modified.png">
			<div>
				<p>
					"I recently boarded my dog, Max, at this facility and was extremely impressed with the care and attention he received. The staff was friendly, professional, and went above and beyond to make sure Max was comfortable and happy. I highly recommend this facility to any pet owner!"
				</p>
				<h3>Sarah Smith</h3>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star-half"></i>
			</div>
		</div>
		<div class="rpics">
			<img src="bg4-modified (1).png">
			<div>
				<p>
					"I have been bringing my pup, Fluffy, to this facility for over a year now, and I couldn't be happier with the care she receives. The staff is always friendly and attentive, and they go out of their way to make sure Fluffy feels at home. I never have to worry when I'm away because I know she's in good hands." 
				</p>
				<h3> John Doe</h3>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>
		</div>
		<div class="rpics">
			<img src="bg3-modified.png">
			<div>
				<p>
					"I was a little hesitant to leave my exotic pet, Coco, with anyone while I was away, but this facility put all my worries at ease. The staff was knowledgeable and experienced with handling exotic pets, and they provided Coco with everything she needed during her stay. I will definitely be bringing her back in the future!" 
				</p>
				<h3>Jane Smith</h3>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			</div>
		</div>		
	</div>
</section>

<section class="comment">
	<h3> LEAVE A COMMENT</h3>
	<form class="cform">
		<input type="text" placeholder="Enter Name">
		<input type="email" placeholder="Enter E-mail">
		<textarea rows="5" placeholder="Your Comment"></textarea><br><br>
		<button type="submit" class="hero-btn red-btn">POST COMMENT</button>
	</form>

</section>

<section class="cta">
	<h1>
		<br><br><br><br>For further queries
	</h1>
		<a href="C:\Users\sushruta patil\Desktop\WAAD ASSIGN\website\contact.html"class="hero-btn">CONTACT US</a>	
</section>

<section class="footer">
	<h4>
		<div class="icons">
			<i class="fa-brands fa-facebook"></i>
			<i class="fa-brands fa-twitter"></i>
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-linkedin"></i>
			<p>🐾</p>

		</div>
	</h4>
</section>



